@font-face {
  font-family: 'NunitoSans-Black';
  src: url('../../fonts/natito/NunitoSans-Black.ttf');
  src: url('../../fonts/natito/NunitoSans-Black.ttf?#iefix') format('embedded-opentype'),
  url('../../fonts/natito/NunitoSans-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans-BlackItalic';
  src: url('../../fonts/natito/NunitoSans-BlackItalic.ttf');
  src: url('../../fonts/natito/NunitoSans-BlackItalic.ttf?#iefix') format('embedded-opentype'),
  url('../../fonts/natito/NunitoSans-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans-Light';
  src: url('../../fonts/natito/NunitoSans-Light.ttf');
  src: url('../../fonts/natito/NunitoSans-Light.ttf?#iefix') format('embedded-opentype'),
  url('../../fonts/natito/NunitoSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans-Regular';
  src: url('../../fonts/natito/NunitoSans-Regular.ttf');
  src: url('../../fonts/natito/NunitoSans-Regular.ttf?#iefix') format('embedded-opentype'),
  url('../../fonts/natito/NunitoSans-Regular.ttf') format('truetype');
}