.hide {
  display: none;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 9;
  left: 0;
  top: 0;
  height: 100vh;

  svg {
    width: 50px;
  }
}