@import "src/assets/css/responsive";

body {
  font-family: 'NunitoSans-Regular', sans-serif;
  margin: 0;
  padding: 0;
  background: $bgColor;
  ul {
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}



.image-gallery-icon {
  &.image-gallery-right-nav {
    &::after {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      background: rgba(0, 0, 0, 0.6);
      display: block;
      top: 50%;
      right: 0;
    }
    &::before {
      content: "";
      background-image: url(../../img/arrow-r.svg);
      width: 33px;
      height: 29px;
      display: block;
      top: 61%;
      left: -25px;
      background-repeat: no-repeat;
      z-index: 9;
      position: absolute;
    }

  }
}

.image-gallery-icon {
  &.image-gallery-left-nav {

    &::after {
      content: '';
      position: absolute;
      width: 35px;
      height: 35px;
      background: rgba(0, 0, 0, 0.6);
      display: block;
      top: 50%;
      left: 0;
    }

    &::before {
      content: "";
      background-image: url(../../img/arrow.svg);
      width: 33px;
      height: 29px;
      display: block;
      top: 61%;
      right: -25px;
      background-repeat: no-repeat;
      z-index: 9;
      position: absolute;
    }
  }
}

.image-gallery-slide-wrapper {
  position: relative;
  height: 600px;

  @include lg {
    height: 300px;
  }

  .image-gallery-swipe {
    height: 100%;

    .image-gallery-slides {
      height: 100%;

      .center {
        height: 100%;

        > div {
          height: 100%;

          .image-gallery-image {
            width: 100%;
            object-fit: cover;
            height: 100%;
          }
        }
      }
    }
  }
}

